@import 'reset.scss';

html, body {
	height          : 100vh;
	font-family     : 'Roboto', sans-serif;
	color           : white;
	background      : linear-gradient(to bottom, transparent 0%,black 35%), url('../img/wallpapers/starry_night.jpg') no-repeat;
	background-size : cover;
}

.header {
	font-weight    : 100;
	display        : flex;
	flex-direction : column;
	padding        : 1rem;
	text-align     : center;

	.title {
		font-size : 10rem;
	}

	.time {
		margin-top : 2rem;
		font-size : 6rem;
	}

	.date {
		.day {
			font-size : 5rem;
			padding   : 1rem 0;
		}

		.monthyear {
			font-size : 2rem;
		}
	}
}

.widget-grid {
	display               : grid;
	grid-template-rows    : auto;
	grid-template-columns : 50vw 50vw;
}